/*
 * Content styling
 */

.content-container {
    max-width: $L;
    margin: auto;
    padding: $default-padding;
}

footer {
    background-color: $footer-background-color;
    border-top: $default-border;
    padding: 0 $default-padding;
}

button, input, select, .proposal-votes, .users-list a {
    display: inline-block;
    font-family: monospace;
    font-size: $monospace-font-size;
    color: $general-text-color;
    min-width: 3em;
    padding: $small-padding;
    border: $default-border;
    border-radius: $border-radius;
    word-break: break-word;
}

button, input[type=submit], .users-list a {
    cursor: pointer;
    background-color: $button-background-color;

    &:hover {
        background-color: $button-hover-background-color;
        text-decoration: none;
    }
}

.tezos-address {
    font-family: monospace;
    font-size: $monospace-font-size;
}

section {
    background-color: $section-background-color;
    padding: $default-padding;
    border: $default-border;
    border-radius: $big-border-radius;
}

ul {
    margin: $default-margin $big-margin;
    padding: 0;
}

li {
    list-style-type: none;
}

.parameters-list > li {
    margin: $default-margin 0;
}

a.is-user {
    background-color: $is-user-background-color;

    &:hover {
        background-color: $is-user-hover-background-color;
    }
}

.proposal-list {
    max-height: 50em;
    margin-bottom: $big-margin;
    overflow: auto;

    &:last-child {
        margin-bottom: $default-margin;
    }
}

.proposal {
    padding: 0.2em 0;

    &:not(:last-child) {
        border-bottom: $default-border;
    }
}

.proposal-timestamp {
    font-family: monospace;
    font-size: $monospace-font-size;
    padding: $default-padding $default-padding $default-padding 0;
}

.proposal-description {
    margin: 0;
    padding: $default-padding;
    border-left: $default-border;

    p:first-child {
        margin-top: 0;
    }
}

.proposal-extra-information {
    padding: ($default-padding - $small-padding) 0;
}

.proposal-votes {
    background-color: $vote-background-color;
    text-align: center;
}

.yes-vote {
    background-color: $yes-vote-background-color;
}

.no-vote {
    background-color: $no-vote-background-color;
}

summary {
    cursor: pointer;
}

.micheline-code {
    font-family: monospace;
    font-size: $monospace-font-size;
    line-height: 1.4;
    background-color: white;
    color: $general-text-color;
    margin: $default-margin 0 0 0;
    padding: $default-padding;
    border: $default-border;
    border-radius: $border-radius;
    white-space: pre-wrap;
    word-break: break-word;
}

form {
    margin: $big-margin 0;

    &:last-child {
        margin-bottom: $default-margin;
    }
}

fieldset {
    padding: $big-padding;
    border: $default-border;
    border-radius: $border-radius;
}

.tezos-wallet-input {
    width: 38ch;
}

.token-contract-input {
    width: 41ch;
}

select {
    cursor: pointer;
    background-color: white;
}

input, select, textarea {
    margin: $small-margin 0;
}

input[type=number] {
    width: 13ch;
    text-align: right;
}

textarea {
    width: 100%;
    min-height: 10em;
    resize: none;
}

.message-container {
    background-color: $message-background-color;
}

.message {
    background-color: $section-background-color;
    min-width: 20em;
    max-width: 80%;
    min-height: 10em;
    padding: $big-padding;
    border-radius: $big-border-radius;

    button {
        float: right;
    }
}
