/*
 * Content styling
 */

html, body, #root, .app-container {
    height: 100%;
}

.header-container {
    padding: $default-padding $default-padding $default-padding $big-padding;
}

nav {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: $default-margin;
        list-style-type: none;
    }

    a {
        color: $header-color;
        padding-bottom: $small-padding;

        &:hover, &:focus, &.active {
            text-decoration: none;
            border-bottom: $default-border;
        }
    }
}

main {
    padding: 0 $default-padding;
}

h1 {
    margin-left: $small-margin;
}

footer {
    background-color: $footer-background-color;
    border-top: $default-border;
    padding: 0 $big-padding;
}

button, input, select, .proposal-votes, .users-list a {
    display: inline-block;
    font-family: monospace;
    font-size: $monospace-font-size;
    color: $general-text-color;
    min-width: 3em;
    padding: $small-padding;
    border: $default-border;
    border-radius: $border-radius;
}

button, input[type=submit], .users-list a {
    cursor: pointer;
    background-color: $button-background-color;

    &:hover {
        background-color: $button-hover-background-color;
        text-decoration: none;
    }
}

.users-list a {
    word-break: break-word;
}

.tezos-address {
    font-family: monospace;
    font-size: $monospace-font-size;
}

section {
    margin-bottom: $default-margin;
    background-color: $section-background-color;
    padding: $default-padding;
    border: $default-border;
    border-radius: $big-border-radius;
}

ul {
    margin: $default-margin $big-margin;
    padding: 0;
}

li {
    list-style-type: none;
}

.parameters-list > li {
    margin: $default-margin 0;
}

a.is-user {
    background-color: $is-user-background-color;

    &:hover {
        background-color: $is-user-hover-background-color;
    }
}

.proposal-list {
    max-height: 50em;
    overflow: auto;

    & > li {
        padding: 0.2em 0;

        &:not(:last-child) {
            border-bottom: $default-border;
        }
    }
}

.proposal-timestamp {
    font-family: monospace;
    font-size: $monospace-font-size;
    padding: $default-padding $default-padding $default-padding 0;
}

.proposal-description {
    margin: 0;
    padding: $default-padding;
    border-left: $default-border;

    p:first-child {
        margin-top: 0;
    }
}

details {
    summary {
        cursor: pointer;
    }

    ul {
        display: inline-block;
        background-color: white;
        margin: $default-margin 0 0 0;
        padding: $default-padding;
        border: $default-border;
        border-radius: $border-radius;
    }

    li {
        text-align: right;
    }
}

.proposal-extra-information {
    padding: ($default-padding - $small-padding) 0;
}

.proposal-votes {
    background-color: $vote-background-color;
    text-align: center;
}

.yes-vote {
    background-color: $yes-vote-background-color;
}

.no-vote {
    background-color: $no-vote-background-color;
}

.micheline-code {
    font-family: monospace;
    font-size: $monospace-font-size;
    line-height: 1.4;
    background-color: white;
    color: $general-text-color;
    margin: $default-margin 0 0 0;
    padding: $default-padding;
    border: $default-border;
    border-radius: $border-radius;
    white-space: pre-wrap;
    word-break: break-word;
}

input[type=file] {
    background-color: white;
}

.tezos-wallet-input {
    width: 38ch;
}

.contract-address-input {
    width: 41ch;
}

.transfers-input {
    margin: $default-margin 0;

    &:first-child {
        margin-top: $small-margin;
    }
}

.transfer-input {
    margin: $default-margin 0;
    padding: $default-padding;
    border: $default-border;
    border-radius: $border-radius;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

select {
    cursor: pointer;
    background-color: white;
}

.form-input {
    margin: $default-margin 0;

    input, select {
        margin: $small-margin 0;
    }

    textarea {
         margin-top: $small-margin;
    }
}

input[type=number] {
    width: 13ch;
    text-align: right;
}

textarea {
    width: 100%;
    min-height: 10em;
    resize: none;
}

.ipfs-link {
    word-break: break-word;
}

.message-container {
    background-color: $message-background-color;
}

.message {
    background-color: $section-background-color;
    min-width: 20em;
    max-width: 80%;
    min-height: 10em;
    padding: $big-padding;
    border-radius: $big-border-radius;

    button {
        float: right;
    }
}
