/*
 * General layout
 */

html, body {
    height: 100%;
}

// 1st flexbox group
.app-container {
    display: flex;
    flex-direction: column;
}

// 2nd flexbox group
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

// 3rd flexbox group
.sync-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    column-gap: 1em;
}

// 4th flexbox group
.users-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

// 5th flexbox group
.proposal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.proposal-timestamp {
    flex: 0 0 auto;
}

.proposal-description {
    flex: 1 1 auto;
    overflow: hidden;
}

.proposal-extra-information {
    flex: 0 0 auto;
}

// 6th flexbox group
.proposal-extra-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.5em;
}

// 7th flexbox group
.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 8th flexbox group
fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1em;
}

.proposal-input {
    flex: 1 1 auto;
}
